<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @play.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @play.integer %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
