<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Bye:</strong>
  <%= @player.bye %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @player.image_url %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
