<% if !@message.nil? %>
	<strong><%= @message %></strong>
<% end %><br><br>

<%= form_tag("/addpick", method: "post") do %>
	<div class="field">
		<%= label_tag 'Enter next draft pick:' %><br>
		<%= text_field_tag 'player', nil, placeholder: 'Player name' %><br>
	</div>
  	<div class="actions">	
		<%= submit_tag "Submit draft pick", data: { confirm: "Submit player?" } %><br><br>
	</div>
<% end %>

<% if !@suggest_picks.nil? %>
	<%= @suggest_picks.to_s %><br><br>
	<%= "Value: " + @suggest_value.to_s %>
<% else %>
	<%= "Not your pick; no suggestions" %>
<% end %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Pick Num</th>
      <th>Player</th>
      <th>Team</th>
      <th>Sim pick</th>      
    </tr>
  </thead>

  <tbody>

	<% for pick in 1..@sim_picks.size-1 %>
		<% player = @picks.find_by(:pick_num => pick) %>
		<tr>
			<td><%= pick %></td>			
			<td><% if player.nil? %>
					<%= "TBD" %>
				<% else %>
					<strong><%= @sim_picks[pick][0] %></strong>
				<% end %></td>
			<td><%= @sim_picks[pick][2] %></td>
			<td><%= @sim_picks[pick][0].to_s + ", " + @sim_picks[pick][1].to_s %> </td>
		</tr>
	<% end %>
  </tbody>
</table>


